{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip">
  <div class="container">
    <div class="row pb-10 align-items-center justify-content-center ">
      <div class="col-12 text-center title-feature">
        <img class="pb-6" id="about-icon" src="/images/about-icon.png">
        <h2 class="text-primary">Back To Our Consulting Roots</h2>
        <p>Caddie Service is a new agency, but our team has built technology for some big players over the years.</p>
        <div id="spheric-companies">
          <img  src="/images/p-and-g-logo.png">
          <img  src="/images/collins-aerospace-logo.png">
          <img  src="/images/yahoo-logo.png">
          <img  src="/images/loreal-logo.png">
          <img  src="/images/verizon-logo.png">
        </div>
      </div>  
    </div>
  </div>
</div>

<div id="we-are-caddie-service" class="hero-image hero-image-setheight">
  <div class="container ">
    <div class="row pb-10 align-items-center justify-content-center">
      <div class="col-12 text-center title-feature">
        <h2 class="text-white">WE ARE CADDIE SERVICE.</h2>
        <p class="text-white">We strive to fully understand the challenges and obstacles facing your business and provide you with the best strategy, team and tools for success.</p>
      </div>
    </div>
  </div>
</div>

<div id="legacy" class="strip">
  <div class="container pt-8 pt-md-14">
    <div class="row pb-15 align-items-center justify-content-center">
      <div class="col-12 title-feature d-flex flex-column align-items-center">
        <h2 class="text-primary">Working With Us</h2>
        <p>Working with Caddie Service is a little different than other agencies. We see all of our clients as partners. We get emotionally invested in the success of the projects we choose to take on.</p>
        <p>From onboarding to project delivery we make sure you are making strong technology choices and iterating for maximum impact. Our focus is on collaboration through the research, design and/or development stages of your product.</p>
        <p>We attribute a lot of our success to our team. You’ll be leveraging a team who has worked cohesively together for a long time, before Caddie Service’s inception, and solved many complex problems.</p>
      </div>
    </div>
  </div>
</div>

{{ end }}