{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip">
  <div class="container pt-8 pt-md-14">
    <div class="row pb-10 align-items-center justify-content-center ">
      <div class="col-12 text-center title-feature">
        <img class="pb-6" id="services-icon" src="images/services-icon.png">
        <h2 class="text-primary">Turn Your Vision Into Reality</h2>
        <p class="pl-lg-20 pr-lg-20">We can help build your vision, create products from ideas, and improve on existing services by building incredible customer experiences.</p>
      </div>
    </div>
  </div>
</div>

<div id="hero" class="hero-image hero-image-setheight bg-cover" style="background-image: url('images/services-hero-background.png')">
  <div class="container ">
    <div class="row d-flex flex-row h-50 align-items-center justify-content-between">
      <div class="col-6 col-lg-3 d-flex h-75">
        <div class="hero-info-box">
          <h4>DESIGN RESEARCH & INSIGHTS</h4>
          <p>Expand the understanding of the problem.</p>
        </div>
      </div>
      <div class="col-6 col-lg-3 d-flex h-75">
        <div class="hero-info-box">
          <h4>UX, UI & PRODUCT DESIGN</h4>
          <p>Create a compelling user experience.</p>
        </div>
      </div>

      <div class="col-6 col-lg-3 d-flex h-75">
        <div class="hero-info-box">
          <h4>WEB & MOBILE DEVELOPMENT</h4>
          <p>Make your idea a reality.</p>
        </div> 
      </div>
      <div class="col-6 col-lg-3 d-flex h-75">
        <div class="hero-info-box">
          <h4>THOUGHT LEADERSHIP & TRAINING</h4>
          <p>Collaborate for results.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="legacy" class="strip">
  <div class="container pt-8 pt-md-14">
    <div class="row">
      <div class="col-12 col-lg-6 h-100 title-feature">
        <h2 class="text-primary">Design Research & Insights</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non quam dictum massa placerat porta vitae eget orci. Nunc varius velit facilisis risus iaculis, congue porttitor erat consequat.</p>
        <p class="list-heading">DELIVERABLES INCLUDE</p>
        <ul>
          <li>Competitive Analysis Reports</li>
          <li>User Personas</li>
          <li>Storyboarding</li>
          <li>Userflows</li>
        </ul>
      </div>
      <div class="col-12 col-lg-6">
        <img id="legacy-picture" src="../images/legacy-picture.png" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div id="legacy" class="strip">
  <div class="container pt-8 pt-md-14">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img id="legacy-picture" src="../images/legacy-picture.png" class="img-fluid">
      </div>
      <div class="col-12 col-lg-6 h-100 title-feature">
        <h2 class="text-primary">Thought Leadership & Training</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non quam dictum massa placerat porta vitae eget orci. Nunc varius velit facilisis risus iaculis, congue porttitor erat consequat.</p>
        <p class="list-heading">DELIVERABLES INCLUDE</p>
        <ul>
          <li>Competitive Analysis Reports</li>
          <li>User Personas</li>
          <li>Storyboarding</li>
          <li>Userflows</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{ end }}