{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip">
  <div class="container pt-8 pt-md-14">
    <div class="row pb-20 align-items-center justify-content-center title-feature">
      <div class="col-12 text-center">
        <img class="pb-6" id="success-icon" src="images/success-icon.png">
        <h2 class="text-primary">Success Drives Us</h2>
        <p class="pl-lg-20 pr-lg-20">We understand that solving complex problems through technology can transform a business. We collaborate in ways that help drive business goals, not work against them.</p>
      </div>
    </div>
  </div>
</div>
<div class="strip pb-20">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 title-feature">
        <img id="teeoff-feature-image" src="images/teeoff-feature-image.png"/ class="img-fluid">
        <img class="pt-4" id="teeoff-logo" src="images/teeoff-logo.png"/>
        <p class="pt-4 work-feature-heading">UX DESIGN & MOBILE APP DEVELOPMENT</p>
        <p class="work-feature-paragraph">TeeOff was falling behind to the competition and needed iOS and Android apps as quickly as possible.</p>
        <p class="work-feature-paragraph">We were able to get the TeeOff mobile apps to market quickly and helped deliver two additional iterations of the apps.</p>
        <p class="work-feature-paragraph">TeeOff’s mobile app success was a key factor in the deal to be acquired by NBC Sports.</p>

      </div>
      <div class="col-12 col-md-6 title-feature">
        <img id="ezl-feature-image" src="images/ezl-feature-image.png"/ class="img-fluid">
        <img class="pt-4" pt-10 id="ezl-logo" src="images/ezl-logo.png"/>
        <p class="pt-4 work-feature-heading">UX, UI & MOBILE APP DEVELOPMENT</p>
        <p class="work-feature-paragraph">EZLinks was looking to make a big B2B play with their golf course customer base.</p>
        <p class="work-feature-paragraph">Caddie Service helped build a white-label app for courses, along with a stand-alone app. The EZGOLF app provides golfers with a cashless payment experience while on the course.</p>
      </div>

    </div>
  </div>
</div>

{{ end }}