{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip">
  <div class="container pt-8 pt-md-14">
    <div class="row pb-10 align-items-center justify-content-center ">
      <div class="col-12 text-center title-feature">
        <img class="pb-6" id="about-icon" src="images/about-icon.png">
        <h2 class="text-primary">Back To Our Consulting Roots</h2>
        <p class="pl-lg-20 pr-lg-20">Caddie Service is a new agency, but our team has built technology for some big players over the years.</p>
        <img class="pb-6" id="spheric-companies" src="images/spheric-companies.png">
      </div>
    </div>
  </div>
</div>

<div id="hero" class="hero-image hero-image-setheight bg-cover bg-position-bottom"  style="background-image: url('images/about-hero-background.png')">
  <div class="container ">
    <div class="row pb-10 align-items-center justify-content-center ">
      <div class="col-12 text-center title-feature">
        <h2 class="text-white">WE ARE CADDIE SERVICE.</h2>
        <p class="pl-lg-20 pr-lg-20 text-white">We strive to fully understand the challenges and obstacles facing your business and provide you with the best strategy, team and tools for success.</p>
      </div>
    </div>
  </div>
</div>

<div id="legacy" class="strip">
  <div class="container pt-8 pt-md-14">
    <div class="row">
      <div class="col-12 col-lg-6 h-100 title-feature">
        <h2 class="text-primary">Working With Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non quam dictum massa placerat porta vitae eget orci. Nunc varius velit facilisis risus iaculis, congue porttitor erat consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non quam dictum massa placerat porta vitae eget orci. Nunc varius velit facilisis risus iaculis, congue porttitor erat consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non quam dictum massa placerat porta vitae eget orci. Nunc varius velit facilisis risus iaculis, congue porttitor erat consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
      <div class="col-12 col-lg-6">
        <img id="legacy-picture" src="../images/legacy-picture.png" class="img-fluid">
      </div>
    </div>
  </div>
</div>

{{ end }}