{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip">
  <div class="container">
    <div class="row pb-10 align-items-center justify-content-center ">
      <div class="col-12 text-center title-feature">
        <img class="pb-6" id="services-icon" src="/images/services-icon.png">
        <h2 class="text-primary">Turn Your Vision Into Reality</h2>
        <p>We can help build your vision, create products from ideas, and improve on existing services by building incredible customer experiences.</p>
      </div>
    </div>
  </div>
</div>

<div id="hero" class="hero-image hero-image-setheight bg-cover" style="background-image: url('/images/neon-bars.jpg')">
  <div class="container ">
    <div class="row d-flex flex-row h-50 align-items-center justify-content-between" id="service-boxes">
      <div class="col-6 col-lg-3 d-flex h-75 hero-info-box-wrapper">
        <div class="hero-info-box">
          <h4>DESIGN RESEARCH & INSIGHTS</h4>
          <p>Expand the understanding of the problem.</p>
        </div>
      </div>
      <div class="col-6 col-lg-3 d-flex h-75 hero-info-box-wrapper">
        <div class="hero-info-box">
          <h4>UX, UI & PRODUCT DESIGN</h4>
          <p>Create a compelling user experience.</p>
        </div>
      </div>

      <div class="col-6 col-lg-3 d-flex h-75 hero-info-box-wrapper">
        <div class="hero-info-box">
          <h4>WEB & MOBILE DEVELOPMENT</h4>
          <p>Make your idea a reality.</p>
        </div> 
      </div>
      <div class="col-6 col-lg-3 d-flex h-75 hero-info-box-wrapper">
        <div class="hero-info-box">
          <h4>THOUGHT LEADERSHIP & TRAINING</h4>
          <p>Collaborate for results.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="legacy" class="strip">
  <div class="container">
    <div class="row flex-md-row-reverse">
      <div class="col-12 col-md-6">
        <img class="strip-side-image" src="/images/research.jpg">
      </div>

      <div class="col-12 col-md-6 h-100 title-feature">
        <h2 class="text-primary">Design Research & Insights</h2>
        <p>We start new projects with a systematic inquiry into your industry, competitors and customers. We work to narrow down to the “right” problems to solve for your users and highlight key patterns for success.</p>
        <p class="title-feature-heading">DELIVERABLES INCLUDE</p>
        <ul>
          <li>Competitive Analysis Reports</li>
          <li>User Personas</li>
          <li>Storyboarding</li>
          <li>Userflows</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="legacy" class="strip">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <img class="strip-side-image" src="/images/ux.jpg">
      </div>
      <div class="col-12 col-md-6 title-feature">
        <h2 class="text-primary">UX, UI & Product Design</h2>
        <p>Once the problem is defined, we work with you to develop the proper solution. Our approach is human-centered that focuses on empathizing with your users, iterating ideas and prototyping experiences.</p>
        <p class="title-feature-heading">DELIVERABLES INCLUDE</p>
        <ul>
          <li>Branding</li>
          <li>Design System</li>
          <li>Wireframes</li>
          <li>Interactive Prototypes</li>
          <li>Hi-Fi Screen Designs</li>
          <li>Development Handoff Documents</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="legacy" class="strip">
  <div class="container">
    <div class="row flex-md-row-reverse">
      <div class="col-12 col-md-6">
        <img class="strip-side-image" src="/images/development.jpg">
      </div>

      <div class="col-12 col-md-6 title-feature">
        <h2 class="text-primary">Web & Mobile Development</h2>
        <p>Depending on your project, we can work with you on a time and materials basis, through staff augmentation or on-demand service. Whichever direction you choose, you’ll be leveraging our full team’s collective problem solving.</p>
        <p class="title-feature-heading">DELIVERABLES INCLUDE</p>
        <ul>
          <li>Minimally Viable Producs</li>
          <li>iOS, Android and Web Apps</li>
          <li>APIs</li>
          <li>Product Management</li>
          <li>Application Performance Monitoring</li>
          <li>Technical Debt Assessment and Servicing</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="legacy" class="strip">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <img class="strip-side-image" src="/images/training.jpg">
      </div>
      <div class="col-12 col-md-6 title-feature">
        <h2 class="text-primary">Thought Leadership & Training</h2>
        <p>We can work with your team to sharpen skills, introduce new concepts, and enhance the performance with your technology stack. Training can be done remote or on-site.</p>
        <p class="title-feature-heading">DELIVERABLES INCLUDE</p>
        <ul>
          <li>Technology Team Mentorship</li>
          <li>Process Improvement</li>
          <li>Key Metrics Analysis</li>
          <li>Product Market Fit Analysis</li>
          <li>Training Guides</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{ end }}