{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 text-center title-feature">
        <img class="pb-6" id="meter-icon" src="/images/meter-icon.png">
        <h2 class="text-primary">Success Drives Us</h2>
        <p>Solving complex problems with the right technology can transform a business. We collaborate in ways that help drive business goals, and make sure you tech stack doesn't get in the way.</p>
      </div>
    </div>
  </div>
</div>

<div class="work-strip">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 title-feature first-in-stack d-flex flex-column align-items-start">
        <img class="strip-top-image" src="/images/teeoff-comp.jpg">
        <img id="teeoff-logo" src="/images/teeoff-logo.png"/>
        <p class="pt-4 title-feature-heading">UX DESIGN & MOBILE APP DEVELOPMENT</p>
        <p>TeeOff was falling behind to the competition and needed iOS and Android apps as quickly as possible.</p>
        <p>We planned, designed and developed the TeeOff mobile apps and brought them to market quickly, and then delivered two additional iterations of the apps in the following years. </p>
        <p>TeeOff's mobile app success was a key factor in their deal to be acquired by NBC Sports.</p>

      </div>
      <div class="col-12 col-md-6 title-feature d-flex flex-column align-items-start">
        <img class="strip-top-image" src="/images/ezgolf-comp.jpg">
        <img id="ezl-logo" src="/images/ezlinks-blue-logo.png"/>
        <p class="pt-4 title-feature-heading">UX, UI & MOBILE APP DEVELOPMENT</p>
        <p>EZLinks was looking to make a big B2B play with their golf course customer base.</p>
        <p>Caddie Service helped build a white-label app for courses, along with a stand-alone app. The EZGOLF app provides golfers with a cashless payment experience while on the course.</p>
      </div>

    </div>
  </div>
</div>

<div class="work-strip">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 title-feature first-in-stack d-flex flex-column align-items-start">
        <img class="strip-top-image" src="/images/juice-comp.jpg">
        <img id="juice-logo" src="/images/juice-logo.png"/>
        <p class="pt-4 title-feature-heading">UX, UI & PRODUCT DESIGN</p>
        <p>We’ve conceptualized and designed an app that delivers a unique experience for daily fantasy sports in the golf space.</p>
        <p>This idea is currently in development and we are in discussions with funding partners.</p>

      </div>
      <div class="col-12 col-md-6 title-feature  d-flex flex-column align-items-start">
        <img class="strip-top-image" src="/images/shark-experience.jpg">
        <img id="shark-logo" src="/images/shark-experience-logo.png"/>
        <p class="pt-4 title-feature-heading">API DEVELOPMENT</p>
        <p>Greg Norman and his team approached us looking for help building out a new golf cart entertainment experience.</p>
        <p>The Shark team relied on Caddie Service to provide on-course yardage, player statistics and more.</p>
      </div>

    </div>
  </div>
</div>

{{ end }}